body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgb(46, 46, 46) 0%,
    rgb(31, 31, 31) 35%,
    rgb(71, 71, 71) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
